name: smartgrow-backend
apiVersion: '2021-10-01'
location: westeurope
properties:
  containers:
  - name: mosquitto
    properties:
      image: ${ACR_NAME}.azurecr.io/mosquitto:latest
      resources:
        requests:
          cpu: 0.5
          memoryInGB: 0.5
      ports:
      - port: 1883
        protocol: TCP
      environmentVariables:
      - name: MQTT_USER
        value: pico_device
      - name: MQTT_PASSWORD
        secureValue: ${MQTT_PASSWORD}
  - name: consumer
    properties:
      image: ${ACR_NAME}.azurecr.io/consumer:latest
      resources:
        requests:
          cpu: 0.5
          memoryInGB: 0.5
      environmentVariables:
      - name: MQTT_USER
        value: pico_device
      - name: MQTT_PASSWORD
        secureValue: ${MQTT_PASSWORD}
      - name: POSTGRES_DB
        value: sensordb
      - name: POSTGRES_USER
        value: ${POSTGRES_USER}
      - name: POSTGRES_PASSWORD
        secureValue: ${POSTGRES_PASSWORD}
      - name: DB_HOST
        value: ${DB_HOST}
      - name: DB_PORT
        value: "5432"
      - name: DB_SSLMODE
        value: "require"
  osType: Linux
  restartPolicy: Always
  ipAddress:
    type: Public
    ports:
    - protocol: TCP
      port: 1883
    dnsNameLabel: ${DNS_NAME_LABEL}
  imageRegistryCredentials:
  - server: ${ACR_NAME}.azurecr.io
    username: ${ACR_USERNAME}
    password: ${ACR_PASSWORD}
